/**Everything that styles the document like a classical document*/
@page {
  size: A4;
}
h1 {
  page-break-before: always;
}
/*a hack to support page breaks*/
h6{
  page-break-after: always;
}
a h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}
/*number the pages.*/
@page{
  @bottom-center {
    content: counter(page)"/"counter(pages);
  }
}
/*headline*/
@page {
  @top-center { content: "Edit reports.css to alter this text." }
}

table, figure {
  page-break-inside: avoid;
}
img{
  max-width: 21cm;
  width:75%;
  display:block;
  margin-left: auto;
  margin-right: auto;
}
div.toc ul li.preface a:after {
 content: leader(dotted) " " target-counter(attr(href, url), page);
}
table {
    border-collapse: collapse;
}
table, th, td {
   border: 1px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2}
html:after {
  content: "{{ watermark }}";
  font-size: 650%;
  color: rgba(0, 0, 0, .1);
  /* alpha, could be even rgba(0,0,0,.05) */

  /* rest of the logic */
  z-index: 9999;
  cursor: default;
  display: block;
  position: fixed;
  top: 33%;
  right: 0;
  bottom: 0;
  left: 15%;
  font-family: sans-serif;
  font-weight: bold;
  /*font-style: italic;*/
  text-align: center;
  line-height: 100%;

  /* not sure about who implemented what ..
    ... so bring it all */
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  -ms-pointer-events: none;
  -o-pointer-events: none;
  pointer-events: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
