<!doctype html>
<html lang="{{ locale }}">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./report.css">
<style>
body
   {
       width:65%;
       margin-left:auto;
       margin-right:auto;
   }
   </style>
</head>
<body>
